body{
    margin : 0px;
}

.equipment{
    display: flex;
    margin-top: 20px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    width: 60vw;
    margin-left: 20%;
    flex-wrap: wrap;
    background-color: rgb(255, 166, 0);
    gap: 5px;
    padding: 10px;
}
.quantity{
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.quantity p{
    color: white;
    font-size: 1.2rem;
}
.medicines{
    margin-top: 20px;
    width: 80vw;
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    margin: auto;
}
.utils{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.utils input{
    height: 1.6rem;
    padding: 0px 10px;
    width: 13rem;
    font-size: 1rem;
    outline: 1px solid aquamarine;

}
#request{
    color: green;
}
.request-medicine{
    width: 60vw;
    display: flex;
    flex-direction: column;
    margin-left: 20vw;
    justify-content: center;
    align-items: center;
    
    background-color: rgb(233, 231, 231);
}
#requestform{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    padding: 20px;
}
#requestform input{
    width: 40%;
    height: 1.3rem;
    padding: 2px 5px;
}
#requestform label{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
#requestbtn{
    width: 6.5rem;
    height: 1.8rem;
    background-color: aquamarine;
    outline: 0px;
    border: 0px;
    border-radius: 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.01rem;
    cursor: pointer;
}