#patient-history{
    margin-left: 50%;
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.visit-history{
    position: relative;
    margin: auto;
    width: 80%;
    margin-top: 20px;

}
.visit-display {
  width: 100%;
  border-collapse: collapse;
  background-color: aquamarine;
  color: black;
  font-family: Arial, sans-serif;
}

.visit-display th,
.visit-display td {
  border: 2px solid black;
  padding: 10px;
  text-align: center;
}

.visit-display th {
  background-color: black;
  color: aquamarine;
  font-weight: bold;
}

.visit-display tr:nth-child(even) {
  background-color: #a0e6c3; 
}

.visit-display tr:hover {
  background-color: #77d9a7; 
  transition: 0.3s;
}


#facility{
    margin-left : 50%;
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.facilities-container{
    background-color: aquamarine;
    display: flex;
    width: 90%;
    position: relative;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    border-radius: 4px;
}
.facilities{
    width: 32%;
    margin-top: 0.4rem;
    margin-right: 0.5rem;
    margin-bottom: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    box-shadow: 1px 1px 1px 1px whitesmoke ;
    
}
.facilities img{
    width: 45px;
    height: 45px;
    margin-right: 2rem;


}
.facility-info{
    font-size: 1.4rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-self: center;
    text-align: center;
}
.offers-container{
    width: 80%;
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.offers{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.offers h3{
    color: blue;
    margin-top: 10px;
    margin: 5px;
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.offers ::after {
    position: absolute;
    content: '';
    width: 20rem;
    height: 2px; 
    left: 10%;
    background-color: aquamarine;
    z-index: 1;
    top: 32%;
    margin-top: 15px;
    box-shadow: 0px 4px 15px rgba(0, 255, 170, 0.3); 
    border-radius: 5px; 
    opacity: 0.8;
}


.offers img{
    width: 55px;
    height: 55px;
    margin-bottom: 20px;
}
.offers p{
    margin: 0px;
    text-align: center;
    font-size: 1.05rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

.departments-container{
    position: relative;
    margin: auto;
    background-color: whitesmoke;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.departments{
    display: flex;
    width: 25%;
    flex-direction: column;
    border: 2px solid white;
    gap: 5px;
    padding: 25px;
    margin: 1.4rem; 
    box-shadow: 2px 10px 25px 10px rgba(178, 188, 185, 0.4);
    opacity: 0.8;
    transition: all 0.2s ease-in;
    border: 5px;
}
.departments h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 5px;
    cursor: pointer;
    position: relative;
}
.departments ::after{
    position: absolute;
    content: '';
    width: 40%;
    height: 2px;
    background-color: aquamarine;
    top: 110%;
    left: 0%;
    box-shadow: 2px 10px 20px 2px rgba(128, 232, 201, 0.4);
    opacity: 0.8;

}
.departments p{
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}