.container {
  width: 100vw;
  height: 100vh;
  background-image: url('https://static.vecteezy.com/system/resources/previews/047/025/200/non_2x/illustration-of-an-anamnesis-system-providing-information-about-diseases-and-healthcare-databases-in-a-flat-style-cartoon-background-vector.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pic-container {
  width: 70%;
  height: 70%;
  background-color: aliceblue;
  box-shadow: 2px 2px 0px 3px rgb(182, 175, 175);
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
  border: 1px solid rgba(255, 255, 255, 0.3); 
  display: flex;
}
.loginForm {
    width: 35%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
  border: 1px solid rgba(255, 255, 255, 0.3); 
  align-items: center;
  justify-content: center;
}
.loginForm label {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  align-items: start;
  color: rgb(18, 69, 198);
}
#login-bg {
  width: 65%;
}
.loginForm input{
    border: none; 
  border-bottom: 2px solid #3498db; 
  outline: none; 
  background: transparent; 
  transition: border-color 0.3s ease-in-out;
  font-size: 1.4rem;
  padding-left: 0.4rem;
  height: 2rem;
}
.loginForm input:focus {
  border-bottom: 2px solid #2980b9;
  background-color: transparent;
}
.input-field{
    display: flex;
    flex-direction: column;
    align-items: start;

}
.loginForm h1{
    color: rgb(18, 69, 198);
}
#btn{
    background-color: rgb(118, 118, 204);
    font-size: 1.2rem;
    color: white;
    border-radius: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 90%;
    align-self: center;
    cursor: pointer;
    margin-top: 20px;
    height: 2.2rem;
    margin-left: 1rem;
    transition: all 0.2s ease;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn:hover{
    border: 0.5px;
    background-color: rgb(108, 108, 222);
}
#signup-container{
    font-size: 1.15rem;
    margin-left: 1rem;
    
}
.loader {
  width: 0.8rem;
  height: 0.8rem;
  border: 5px solid rgba(0, 0, 0, 0.1); 
  border-top-color: #3498db; 
  border-radius: 50%;
  animation: spin 1s linear infinite; 
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}