*{
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}